body{
  font-family: 'FiraMonoRegular', monospace, sans-serif, serif;
}

nav{
  width: 100%;
  height: 60px;
}

nav ul{
  margin: Opx;
  padding: 0px;
  text-align: center;
}

nav ul li{
  display: block;
  margin-right: 20px;
}

div.middle-section ul li {
  color:blue;
}

div.main-container{
  /* background-color: grey; */
}

img.image{
  width: 200px;
  clear: both;
  float: left;
  margin-bottom: 20px;
}

img.responsive-image{
  float: left;
  clear: both;
  width: 50%;
}

div.main-container{
  outline: 5px solid red;
}

div.left-column,
div.middle-section,
div.right-column{
  width: 100%;
  outline: 1px solid black;
}

div.main-container{
  height: 100vh;
}
div.left-column,
div.middle-section,
div.right-column{
  margin-top: 20px;
  min-height: 80vh;
  background-color: white;
}



@media screen and (min-width: 800px) {
    nav ul li{
      display: inline-block;
    }
    div.left-column{
      width: 18%;
      margin-right: 0.5%;
      margin-left: 0.5%;
      padding: 0.5%;
      float: left;
    }
    div.middle-section{
      width: 58%;
      margin-right: 0.5%;
      margin-left: 0.5%;
      padding: 0.5%;
      float: left;
    }
    div.right-column{
      width: 18%;
      margin-right: 0.5%;
      margin-left: 0.5%;
      padding: 0.5%;
      float: left;
    }
}

@media screen and (min-width: 1700px){
    body{
      background-color: red;
    }
}
